<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{{ site.baseurl }}/">Bug Bounty Journey</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/journey">Journey</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/writeups">Write-ups</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="planningDropdown" role="button" data-bs-toggle="dropdown">
            Planning
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ site.baseurl }}/roadmap">Roadmap</a></li>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/impossible-list">Impossible List</a></li>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/sprints">21-Day Sprints</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>